*{
    margin: 0;
    padding: 0;
    background-color: #181e24;
    box-sizing: border-box;
}
:root{
    --second: 0deg;
    --minute: 0deg;
    --hour: 0deg;
}
.clock{
    display: flex;
    height:550px;
    width: 550px;
    background-color: #181e24;
    position:relative;
    border-radius: 50%;
    left:30%;
    margin-top: 20px;
    border:10px solid rgb(170, 17, 201);
    box-shadow: 0 0 5px rgb(170, 17, 201),0 0 10px rgb(170, 17, 201),0 0 15px rgb(170, 17, 201),0 0 20px rgb(170, 17, 201);
}
#twel{
    display: block;
    color: aliceblue;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: 46%;
    font-size: 40px;
    font-weight: 100px;
    font-family: 'Rubik Marker Hatch', cursive;
    text-shadow: 0 0 5px rgb(170, 17, 201),0 0 10px rgb(170, 17, 201),0 0 15px rgb(170, 17, 201),0 0 20px rgb(170, 17, 201);
}

#three{color: aliceblue;
    display: block;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: 92%;
    top: 46%;
    font-size: 40px;
    font-weight: 100px;
    font-family: 'Rubik Marker Hatch', cursive;
    text-shadow: 0 0 5px rgb(170, 17, 201),0 0 10px rgb(170, 17, 201),0 0 15px rgb(170, 17, 201),0 0 20px rgb(170, 17, 201);
}

#six{
    color: aliceblue;
    display: block;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: 46%;
    top: 92%;
    font-size: 40px;
    font-weight: 100px;
    font-family: 'Rubik Marker Hatch', cursive;
    text-shadow: 0 0 5px rgb(170, 17, 201),0 0 10px rgb(170, 17, 201),0 0 15px rgb(170, 17, 201),0 0 20px rgb(170, 17, 201);
}

#nine{
    color: aliceblue;
    text-shadow: 0 0 5px rgb(170, 17, 201),0 0 10px rgb(170, 17, 201),0 0 15px rgb(170, 17, 201),0 0 20px rgb(170, 17, 201);
    display: block;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    margin-left: 2px;
    top: 45%;
    font-size: 40px;
    font-weight: 100px;
    font-family: 'Rubik Marker Hatch', cursive;
}
.hours{
    display: inline-block;
    position: absolute;
    height: 12px;
    width: 150px;
    background-color: aliceblue;
    left: 50%;
    top: 49.7%;
    border-radius: 20px;
    transform: rotate(var(--hour));
    transform-origin: 0% 0%;
    box-shadow: 0 0 5px rgb(223, 30, 30),0 0 10px rgb(223, 30, 30),0 0 15px rgb(223, 30, 30),0 0 20px rgb(223, 30, 30);
}
.minutes{
    display: inline-block;
    position: absolute;
    height: 10px;
    width:200px;
    background-color: rgb(30, 181, 223);
    left: 50%;
    top: 49.8%;
    border-radius: 20px;
    transform: rotate(var(--minute));
    transform-origin: 0% 0%;
    box-shadow: 0 0 5px rgb(30, 181, 223),0 0 10px rgb(30, 181, 223),0 0 15px rgb(30, 181, 223),0 0 20px rgb(30, 181, 223);
}
.seconds{
    display: inline-block;
    position: absolute;
    height:7px;
    width: 220px;
    box-shadow: 0 0 5px rgb(170, 17, 201),0 0 10px rgb(170, 17, 201),0 0 15px rgb(170, 17, 201),0 0 20px rgb(170, 17, 201);
    background-color: aliceblue;
    left: 50%;
    top: 50%;
    border-radius: 20px;
    transform-origin: 0% 0%;
    transform: rotate(var(--second));
    transition-duration: inherit;
    transition-timing-function: linear;
}
.center{
    display: inline-block;
    position: absolute;
    height: 60px;
    width:60px;
    
    box-shadow: 0 0 5px rgb(170, 17, 201),0 0 10px rgb(170, 17, 201),0 0 15px rgb(170, 17, 201),0 0 20px rgb(170, 17, 201);
    
    left: 44%;
    top: 45%;
    border-radius: 50%;
    z-index: 1;
}